* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background: black;
  color: #00ff55;
}

/* =====================
   LOGIN
===================== */
.login-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  border: 2px solid #00ff55;
  padding: 25px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 15px #00ff55;
  background: black;
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  background: black;
  border: 1px solid #00ff55;
  color: #00ff55;
}

.login-box button {
  width: 100%;
  padding: 8px;
  background: #00ff55;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.login-box button:hover {
  background: #00cc44;
}

.hint {
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.7;
}

/* =====================
   DESKTOP (MAPA)
===================== */
.desktop {
  height: 100vh;
  background:
    linear-gradient(
      rgba(0,0,0,0.65),
      rgba(0,0,0,0.65)
    ),
    url("https://img.freepik.com/psd-premium/mapa-mundo-mapa-mundo-fondo-negro_1020495-452035.jpg")
    no-repeat center center fixed;
  background-size: cover;
}

/* =====================
   ICONOS
===================== */
.icons {
  display: flex;
  gap: 30px;
  padding: 40px;
}

.icon {
  width: 120px;
  text-align: center;
  color: #00ff55;
  text-decoration: none;
}

.icon div {
  font-size: 40px;
  margin-bottom: 5px;
}

.icon span {
  font-size: 14px;
}

.icon:hover {
  text-shadow: 0 0 12px #00ff55;
  transform: scale(1.05);
}

/* =====================
   BARRA DE INICIO
===================== */
.taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 36px;
  background: linear-gradient(to top, #008833, #00cc55);
  color: black;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  box-shadow: 0 -3px 15px rgba(0,255,85,0.8);
}

.task-left,
.task-center,
.task-right {
  padding: 0 10px;
}

.task-center {
  flex: 1;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.task-right {
  text-align: right;
  font-size: 13px;
}

/* =====================
   SCANNER ANIMADO
===================== */
.scanner-bg {
  height: 100vh;
  overflow: hidden;
  background: black;
}

canvas#network {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.terminal {
  position: relative;
  z-index: 10;
  width: 520px;
  margin: 80px auto;
  padding: 20px;
  border: 2px solid #00ff55;
  background: rgba(0,0,0,0.9);
  box-shadow: 0 0 20px #00ff55;
}

.terminal pre {
  height: 220px;
  overflow-y: auto;
  white-space: pre-wrap;
}

.terminal input {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  background: black;
  border: 1px solid #00ff55;
  color: #00ff55;
}

.back {
  display: inline-block;
  margin-top: 10px;
  color: #00ff55;
  text-decoration: none;
}
